HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
src/main/resources/static/.DS_Store
src/main/resources/static/rooms_photo/.DS_Store
src/main/resources/static/rooms_photo_small/apartment_smart/.DS_Store
src/main/resources/static/rooms_photo_small/art/.DS_Store
src/main/resources/static/rooms_photo_small/lux_vip/.DS_Store
src/main/resources/static/rooms_photo_small/president_lux/.DS_Store
src/main/resources/static/rooms_photo_small/smart/.DS_Store
src/main/resources/static/rooms_photo_small/standard/.DS_Store
src/main/resources/static/rooms_photo_small/standard_family/.DS_Store
src/main/resources/static/rooms_photo_small/studio/.DS_Store
src/main/resources/static/rooms_photo_small/studio_smart/.DS_Store
