<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="flex-grow-1 py-4" layout:fragment="content">
        <div class="container mt-3 mb-5">
            <div class="row pt-1 pb-1">
                <div class="col-12">
                    <h3 class="mb-4 text-center">Наши номера</h3>
                </div>
                <hr>
            </div>

            <div class="row text-center gy-5 gx-5">
                <!--ADD CLASSES HERE d-flex align-items-stretch-->
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="https://i.postimg.cc/28PqLLQC/dotonburi-canal-osaka-japan-700.jpg"
                            class="card-img-top" alt="Card Image">
                        <div class="card-body d-flex flex-column">
                            <a href="#" class="card-title text-primary h5 text-decoration-none">Стандарт</a>
                            <p class="card-text mb-2">
                                Номер повышенной комфортности с одной двуспальной или двумя
                                раздельными кроватями.
                            </p>
                            <h5 class="card-title text-primary mb-3">13000₽</h5>
                            <a href="#" class="btn btn-dark mt-auto align-self-center w-75">Забронировать сейчас</a>
                        </div>
                    </div>
                </div>
                <!--ADD CLASSES HERE d-flex align-items-stretch-->
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="https://i.postimg.cc/28PqLLQC/dotonburi-canal-osaka-japan-700.jpg"
                            class="card-img-top" alt="Card Image">
                        <div class="card-body d-flex flex-column">
                            <a href="#" class="card-title text-primary h5 text-decoration-none">Стандарт</a>
                            <p class="card-text mb-2">
                                Номер повышенной комфортности с одной двуспальной или двумя
                                раздельными кроватями.
                            </p>
                            <h5 class="card-title text-primary mb-3">13000₽</h5>
                            <a href="#" class="btn btn-dark mt-auto align-self-center w-75">Забронировать сейчас</a>
                        </div>
                    </div>
                </div>
                <!--ADD CLASSES HERE d-flex align-items-stretch-->
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="https://i.postimg.cc/28PqLLQC/dotonburi-canal-osaka-japan-700.jpg"
                            class="card-img-top" alt="Card Image">
                        <div class="card-body d-flex flex-column">
                            <a href="#" class="card-title text-primary h5 text-decoration-none">Стандарт</a>
                            <p class="card-text mb-2">
                                Номер повышенной комфортности с одной двуспальной или двумя
                                раздельными кроватями.
                            </p>
                            <h5 class="card-title text-primary mb-3">13000₽</h5>
                            <a href="#" class="btn btn-dark mt-auto align-self-center w-75">Забронировать сейчас</a>
                        </div>
                    </div>
                </div>
                <!--ADD CLASSES HERE d-flex align-items-stretch-->
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="https://i.postimg.cc/28PqLLQC/dotonburi-canal-osaka-japan-700.jpg"
                            class="card-img-top" alt="Card Image">
                        <div class="card-body d-flex flex-column">
                            <a href="#" class="card-title text-primary h5 text-decoration-none">Стандарт</a>
                            <p class="card-text mb-2">
                                Номер повышенной комфортности с одной двуспальной или двумя
                                раздельными кроватями.
                            </p>
                            <h5 class="card-title text-primary mb-3">13000₽</h5>
                            <a href="#" class="btn btn-dark mt-auto align-self-center w-75">Забронировать сейчас</a>
                        </div>
                    </div>
                </div>
                <!--ADD CLASSES HERE d-flex align-items-stretch-->
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="https://i.postimg.cc/28PqLLQC/dotonburi-canal-osaka-japan-700.jpg"
                            class="card-img-top" alt="Card Image">
                        <div class="card-body d-flex flex-column">
                            <a href="#" class="card-title text-primary h5 text-decoration-none">Стандарт</a>
                            <p class="card-text mb-2">
                                Номер повышенной комфортности с одной двуспальной или двумя
                                раздельными кроватями.
                            </p>
                            <h5 class="card-title text-primary mb-3">13000₽</h5>
                            <a href="#" class="btn btn-dark mt-auto align-self-center w-75">Забронировать сейчас</a>
                        </div>
                    </div>
                </div>
                <!--ADD CLASSES HERE d-flex align-items-stretch-->
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="https://i.postimg.cc/28PqLLQC/dotonburi-canal-osaka-japan-700.jpg"
                            class="card-img-top" alt="Card Image">
                        <div class="card-body d-flex flex-column">
                            <a href="#" class="card-title text-primary h5 text-decoration-none">Стандарт</a>
                            <p class="card-text mb-2">
                                Номер повышенной комфортности с одной двуспальной или двумя
                                раздельными кроватями.
                            </p>
                            <h5 class="card-title text-primary mb-3">13000₽</h5>
                            <a href="#" class="btn btn-dark mt-auto align-self-center w-75">Забронировать сейчас</a>
                        </div>
                    </div>
                </div>
                <!--ADD CLASSES HERE d-flex align-items-stretch-->
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="https://i.postimg.cc/28PqLLQC/dotonburi-canal-osaka-japan-700.jpg"
                            class="card-img-top" alt="Card Image">
                        <div class="card-body d-flex flex-column">
                            <a href="#" class="card-title text-primary h5 text-decoration-none">Стандарт</a>
                            <p class="card-text mb-2">
                                Номер повышенной комфортности с одной двуспальной или двумя
                                раздельными кроватями.
                            </p>
                            <h5 class="card-title text-primary mb-3">13000₽</h5>
                            <a href="#" class="btn btn-dark mt-auto align-self-center w-75">Забронировать сейчас</a>
                        </div>
                    </div>
                </div>
                <!--ADD CLASSES HERE d-flex align-items-stretch-->
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="https://i.postimg.cc/28PqLLQC/dotonburi-canal-osaka-japan-700.jpg"
                            class="card-img-top" alt="Card Image">
                        <div class="card-body d-flex flex-column">
                            <a href="#" class="card-title text-primary h5 text-decoration-none">Стандарт</a>
                            <p class="card-text mb-2">
                                Номер повышенной комфортности с одной двуспальной или двумя
                                раздельными кроватями.
                            </p>
                            <h5 class="card-title text-primary mb-3">13000₽</h5>
                            <a href="#" class="btn btn-dark mt-auto align-self-center w-75">Забронировать сейчас</a>
                        </div>
                    </div>
                </div>
                <!--ADD CLASSES HERE d-flex align-items-stretch-->
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="card">
                        <img src="https://i.postimg.cc/28PqLLQC/dotonburi-canal-osaka-japan-700.jpg"
                            class="card-img-top" alt="Card Image">
                        <div class="card-body d-flex flex-column">
                            <a href="#" class="card-title text-primary h5 text-decoration-none">Стандарт</a>
                            <p class="card-text mb-2">
                                Номер повышенной комфортности с одной двуспальной или двумя
                                раздельными кроватями.
                            </p>
                            <h5 class="card-title text-primary mb-3">13000₽</h5>
                            <a href="#" class="btn btn-dark mt-auto align-self-center w-75">Забронировать сейчас</a>
                        </div>
                    </div>
                </div>
            </div>

            <section class="pt-5 pb-1 mb-5">
                <div class="container">
                    <div class="row pt-1 pb-4">
                        <div class="col-12 text-center">
                            <h3 class="mb-2 text-center">Возможности отеля и варианты размещения гостей</h3>
                            <hr>
                        </div>
                    </div>
                    <div class="row text-center gy-4">
                        <div class="col col-lg-4">
                            <div style="min-height: 7rem;">
                                <img src="images/abilities/24-hours.png" class="mt-3" style="max-width: 4rem;">
                            </div>
                            <h4>Посуточное размещение в уютном номере</h4>
                        </div>
                        <div class="col col-lg-4">
                            <div style="min-height: 7rem;">
                                <img src="images/abilities/group.png" class="mt-3" style="max-width: 4rem;">
                            </div>
                            <h4>Посуточное размещение в отеле для двоих</h4>
                        </div>
                        <div class="col col-lg-4">
                            <div style="min-height: 7rem;">
                                <img src="images/abilities/pillow.png" class="mt-3" style="max-width: 4rem;">
                            </div>
                            <h4>Одна ночь в отеле</h4>
                        </div>
                        <div class="col col-lg-4">
                            <div style="min-height: 7rem;">
                                <img src="images/abilities/two.png" class="mt-3" style="max-width: 4rem;">
                            </div>
                            <h4>Банкетный зал для свадьбы</h4>
                        </div>
                        <div class="col col-lg-4">
                            <div style="min-height: 7rem;">
                                <img src="images/abilities/hot-pot.png" class="mt-3" style="max-width: 4rem;">
                            </div>
                            <h4>Снять номер с кухней</h4>
                        </div>
                        <div class="col col-lg-4">
                            <div style="min-height: 7rem;">
                                <img src="images/abilities/24-hour-clock.png" class="mt-3" style="max-width: 4rem;">
                            </div>
                            <h4>Отель с круглосуточным заселением</h4>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </main>
</body>
</html>