<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="flex-grow-1 py-4" layout:fragment="content">
        <div class="container-sm">
            <div class="row pt-1 pb-1">
                <div class="col-12">
                    <h3 class="mb-4 text-center">Ваш аккаунт</h3>
                </div>
                <hr>
            </div>

            <div class="">
                <div class="account-info">
                    <p class="h5 mb-1">Имя:</p>
                    <p class="mb-4" th:text="${client.name}">Алексей</p>
                    <p class="h5 mb-1">Телефон:</p>
                    <p class="mb-5" th:text="${client.phoneNumber}">+7 (000) 000-00-00</p>
                </div>
                <h3 class="">Вы забронировали</h3>
                <div class="mt-3 pb-5" id="records">
                    <div th:if="${#lists.isEmpty(bookingRecords)}">
                        <div class="alert alert-info">
                            <p>Вы ещё не сделали ни одной брони.</p>
                            <a href="/booking" class="btn btn-primary">Перейти к бронированию</a>
                        </div>
                    </div>
                
                    <div th:if="${!#lists.isEmpty(bookingRecords)}">
                        <div th:each="card : ${bookingRecords}">
                            <div th:replace="~{includes/booked-card :: bookedCardFragment(${card})}"></div>
                        </div>
                    </div>
                </div>
                <div class="account-controll-buttons d-flex flex-row justify-content-end">
                    <button class="btn btn-outline-secondary me-3" id="account-logout" style="min-width: 13rem;">Выйти</button>
                    <button class="btn btn-outline-danger" id="account-delete" style="min-width: 13rem;" onclick="">Удалить аккаунт</button>
                </div>
            </div>
        </div>
        <script src="/static/js/account-script.js"></script>
    </main>
</body>
</html>