<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="flex-grow-1 py-4" layout:fragment="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <h1 class="signup-header text-center mb-4">Войдите в свой аккаунт</h1>
                    <form action="/registration" method="post" class="signup-form">
                        <div class="form-floating mb-3">
                            <div class="input-group">
                                <span class="input-group-text">+7</span>
                                <div class="form-floating">
                                    <input type="tel" class="form-control" id="phone" required placeholder="Номер телефона" pattern="^\d{10}$" title="Введите корректный номер телефона">
                                    <label for="phone">Номер телефона</label>
                                </div>
                                <button class="btn btn-primary" type="button" id="button-send-code">Отправить код</button>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="sms-code" name="sms_code" required placeholder="SMS-код" pattern="^\d{6}$" title="Введите корректный код">
                            <label for="sms-code">SMS-код</label>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary py-2">Войти</button>
                        </div>
                    </form>
                    <div class="already-have-account text-center mt-4">
                        <span>Нет аккаунта?</span>
                        <a href="#" class="text-decoration-none">Зарегистрироваться</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>