<section class="rounded-bottom-2" style="background-color: rgb(232, 233, 236);">
    <div class="row pt-1 pb-1">
        <div class="col-12">
            <h3 class="mt-4 mb-2 text-center">Выберите номер</h3>
        </div>
        <hr class="w-75 mx-auto">
    </div>
    <div class="row mx-4 g-4 pb-5">
        <div th:replace="~{includes/booking-room-card.html}"></div>
        <div th:replace="~{includes/booking-room-card.html}"></div>
        <div th:replace="~{includes/booking-room-card.html}"></div>
        <div th:replace="~{includes/booking-room-card.html}"></div>
        <div th:replace="~{includes/booking-room-card.html}"></div>
        <div th:replace="~{includes/booking-room-card.html}"></div>
        <div th:replace="~{includes/booking-room-card.html}"></div>
    </div>
</section>