<div id="carouselRoomCardsIndicators" class="carousel slide " th:fragment="cardsCarouselFragment(extendedRoomConfigurations)">
    <div class="carousel-indicators">
        <button th:each="chunk,iterStat : ${extendedRoomConfigurations}"
                th:type="'button'"
                th:data-bs-target="'#carouselRoomCardsIndicators'"
                th:data-bs-slide-to="${iterStat.index}"
                th:class="'bg-dark' + (${iterStat.index == 0 ? ' active' : ''})"
                th:aria-current="${iterStat.index == 0 ? 'true' : null}"
                th:aria-label="'Slide ' + (${iterStat.index + 1})">
        </button>
    </div>

    <div class="carousel-inner pb-5 mx-auto " style="max-width: 89%;">
        
        <div th:each="chunk,iterStat : ${extendedRoomConfigurations}"
             th:class="'carousel-item' + (${iterStat.index == 0 ? ' active' : ''})">
            <div class="row text-center">
                <div class="col-lg-4 mb-3 d-flex align-items-stretch"
                     th:each="roomConfig : ${chunk}">
                    <div th:replace="~{includes/general-room-card :: generalRoomCardFragment(${roomConfig})}"></div>
                </div>
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselRoomCardsIndicators"
        data-bs-slide="prev" style="max-width: 4rem;">
        <span class="carousel-control-prev-icon" aria-hidden="true"
            style="filter: invert(1);"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselRoomCardsIndicators"
        data-bs-slide="next" style="max-width: 4rem;">
        <span class="carousel-control-next-icon" aria-hidden="true"
            style="filter: invert(1);"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>